<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE hibernate-configuration PUBLIC
		"-//Hibernate/Hibernate Configuration DTD 3.0//EN"
		"http://www.hibernate.org/dtd/hibernate-configuration-3.0.dtd">
<hibernate-configuration>
	<session-factory>
<!-- 		<property name="hibernate.connection.driver_class">com.mysql.cj.jdbc.Driver</property> -->
<!-- 		<property name="hibernate.connection.url">jdbc:mysql://localhost:3306/marryme</property> -->
<!-- 		<property name="hibernate.connection.username">root</property> -->
<!-- 		<property name="hibernate.connection.password">password</property> -->

		<property name="hibernate.connection.datasource">java:comp/env/jdbc/marryme</property>
		<property name="hibernate.current_session_context_class">thread</property>

		<property name="hibernate.dialect">org.hibernate.dialect.MySQLDialect</property>
		<property name="hibernate.show_sql">true</property>
		<property name="hibernate.format_sql">true</property>
		<property name="hibernate.highlight_sql">true</property>


		<mapping class="com.marryme.activity.entity.Activity"/>
		<mapping class="com.marryme.product.entity.ProductCategory"/>
		<mapping class="com.marryme.product.entity.Product"/>
		<mapping class="com.marryme.order.entity.Order"/>
		<mapping class="com.marryme.order.entity.OrderDetail"/>

		<mapping class="com.marryme.reservation.vo.Reservation"/>
		
		<mapping class="com.marryme.plan.vo.Item"/>

		<mapping class="com.marryme.plan.vo.Place"/>
		<mapping class="com.marryme.plan.vo.Plan"/>
		<mapping class="com.marryme.plan.vo.PlanDetail"/>
		<mapping class="com.marryme.plan.vo.PlanOrder"/>
		<mapping class="com.marryme.plan.vo.PlanOrderDetail"/>
		<mapping class="com.marryme.plan.vo.UnavailableDate"/>

		<mapping class="com.marryme.member.vo.Member"/>
		<mapping class="com.marryme.vendor.vo.Vendor"/>
		<mapping class="com.marryme.weddingVenue.vo.WeddingVenue"/>
		<mapping class="com.marryme.emp.vo.Emp"/>


		


	</session-factory>
</hibernate-configuration>